.productPage .wrapper {
  padding-top: 80px; }

.productPage .searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px; }

.productPage .searchContainer {
  height: 46px;
  width: 300px;
  display: flex;
  align-items: center;
  border: 4px solid lightgray;
  border-radius: 4px; }
  .productPage .searchContainer:focus-within {
    border-color: #333; }
  .productPage .searchContainer .searchButton {
    height: calc(100% + 2px);
    width: 48px;
    margin-left: -1px;
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    cursor: pointer; }
  .productPage .searchContainer .search {
    font-size: 2rem;
    font-weight: 500;
    flex: 1;
    height: calc(100% + 2px);
    margin-right: -1px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.productPage .sortWrapper {
  color: var(--primary);
  font-weight: 700;
  font-size: 2rem; }
  .productPage .sortWrapper select {
    color: var(--yellow);
    border: none;
    outline: none;
    font-weight: 700;
    margin-left: 12px;
    cursor: pointer;
    -webkit-appearance: none; }
    .productPage .sortWrapper select option {
      -webkit-appearance: none;
      color: #333;
      text-align: center;
      cursor: pointer; }

.productPage .pageButton {
  width: 40px;
  height: 40px;
  margin: 0 8px 40px;
  background-color: transparent;
  border: 4px solid lightgray;
  color: #808080;
  font-weight: 700;
  cursor: pointer; }
