.empty {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4rem; }
  .empty a {
    text-decoration: underline;
    color: var(--primary); }
